@tailwind base;
@tailwind components;
@tailwind utilities;


.primary-color {
    background-color: #4D2F19;
}
.header-logo-name {
    color: #FFFFFF;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 70% */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50; /* Đảm bảo lớp này hiển thị phía trên */
}
